/***********************************/
/*          Общие переменные       */
/***********************************/
:root {
    --colors-black: #000000;
    --colors-white: #ffffff;
    --colors-darkGrey: #525252;
    --colors-grey: #7f7f7f;
    --colors-lightGrey: #c0c0c0;
    --colors-orange: #d7630d;
    --colors-yellow: #ffff00;
    --colors-red: #ff0000;
    --colors-green: #00ff00;
    --colors-blue: #00b0f0;
    --colors-ashBlack: #202020;
    --colors-bluemy: #3a485c;
}


/***********************************/
/*         Глобальные стили        */
/***********************************/


/***********************************/
/*         Стили по классам        */
/***********************************/


/***********************************/
/*    Индивидуальные стили по id   */
/***********************************/
